---
import SectionTitle from '../ui/SectionTitle.astro';
import ComparisonTable from '../ui/ComparisonTable.astro';
import ScrollReveal from '../ui/ScrollReveal.astro';
---

<section class="py-20 bg-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <SectionTitle title="従来の開発会社との違い" />

    <ScrollReveal>
      <div class="max-w-5xl mx-auto">
        <ComparisonTable />
      </div>
    </ScrollReveal>
  </div>
</section>
